# LLM 模型配置
API_KEY=填写 Closeai 的 API KEY
BASE_URL=https://api.openai-proxy.org/v1
MODEL=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-large

# 第三方知识库爬取地址
CRAWL_KNOWLEDGE_BASE_URL=https://iknow.lenovo.com.cn

