# 硅基流动配置
SF_API_KEY=填写硅基流动的 API KEY
SF_BASE_URL=https://api.siliconflow.cn/v1
MAIN_MODEL_NAME=Qwen/Qwen3-32B

# 阿里百链配置
AL_BAILIAN_API_KEY=填写阿里千问的 API KEY
AL_BAILIAN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
SUB_MODEL_NAME=qwen3-max

# MySQL 配置
MYSQL_HOST=填写数据库地址
MYSQL_PORT=填写数据库端口号
MYSQL_USER=填写数据库账号
MYSQL_PASSWORD=填写数据库密码
MYSQL_DATABASE=smart_nexus
MYSQL_CHARSET=utf8mb4
MYSQL_CONNECT_TIMEOUT=10
MYSQL_MAX_CONNECTIONS=5

# MCP 配置
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/api/v1/mcps/WebSearch/sse
BAIDUMAP_AK=填写百度 AK 密钥

# 知识库服务地址
KNOWLEDGE_BASE_URL=http://localhost:8000/smart/nexus/knowledge/retrieval/query

