# 阿里百链配置
AL_BAILIAN_API_KEY=填写阿里千问的 API KEY
AL_BAILIAN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MAIN_MODEL_NAME=qwen-plus
SUB_MODEL_NAME=qwen-flash

# MySQL 配置
MYSQL_HOST=填写数据库地址
MYSQL_PORT=填写数据库端口号
MYSQL_USER=填写数据库账号
MYSQL_PASSWORD=填写数据库密码
MYSQL_DATABASE=smart_nexus
MYSQL_CHARSET=utf8mb4
MYSQL_CONNECT_TIMEOUT=10
MYSQL_MAX_CONNECTIONS=5

# MCP 配置
TAVILY_BASE_URL=https://mcp.tavily.com/mcp
TAVILY_API_KEY=TAVILY API 密钥
BAIDUMAP_BASE_URL=https://mcp.map.baidu.com/mcp
BAIDUMAP_AK=填写百度 AK 密钥

# 知识库服务地址
KNOWLEDGE_BASE_URL=http://localhost:8000/smart/nexus/knowledge/retrieval/query

# 系统配置
APP_PORT=8000
APP_HOST=127.0.0.1

# 登录鉴权配置
# 可用以下命令生成：python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=登录token的私钥（至少32字节）
ALGORITHM=HS256
TOKEN_EXPIRE_HOURS=24

# 接口校验白名单
WHITE_LIST=["/smart/nexus/consultant/code","/smart/nexus/consultant/login"]
